<ion-modal-view>
<ion-header-bar>
<button class="button icon ion-arrow-left-a" ng-click="closeModal()" />
<h1 class="title">Location</h1>
</ion-header-bar>
<ion-content>
<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search Location" ng-model="prayer.query" ng-change="findLocationByName()">
  </label>
  <div class="row">
    <div class="col text-center">
        <button class="button button-small button-balanced icon-left ion-android-locate" ng-click="findCurrentLocation()">
          Use Current Location
        </button>
    </div>
  </div>

<ion-list>
  <ion-radio ng-repeat="position in positions"
                 ng-value="position"
                 ng-model="prayer.newposition"
                 ng-click="applyNewPosition()">
          {{position.formatted_address}}
      </ion-radio>
</ion-list>
</ion-content>
</ion-modal-view>