<ion-modal-view>
<ion-header-bar>
<button class="button icon ion-arrow-left-a" ng-click="closeModalNotification()" />
<h1 class="title">{{prayname}} {{"notification" | translate}}</h1>
</ion-header-bar>
<ion-content>
<ion-list>
<div class="item item-divider">
  {{"on_prayer_time" | translate}}
</div>
<label class="item item-input item-toggle">
  <div class="input-label">
    {{"notification" | translate}}
  </div>
  <label class="toggle toggle-balanced">
       <input ng-model="notification.onpray" ng-change="notificationChanged(prayname)" type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</label>
<label class="item item-input item-select">
  <div class="input-label">
    {{"sound" | translate}}
  </div>
  <select ng-model="notification.onpraysound" ng-disabled="!notification.onpray" ng-change="notificationChanged(prayname)">
    <option ng-repeat="sound in sounds"
    value="{{ sound.code }}"
    ng-selected="{{ notification.onpraysound == sound.code }}">
    {{sound.description}}
  </option>
</select>
</label>
<div class="item item-divider">
  {{"before_prayer_time" | translate}}
</div>

<label class="item item-input item-toggle">
  <div class="input-label">
    {{"notification" | translate}}
  </div>
  <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="notification.beforepray" ng-change="notificationChanged(prayname)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</label>

<label class="item item-input item-select">
  <div class="input-label">
    {{"notify_before" | translate}}
  </div>
  <select ng-change="notificationChanged(prayname)" ng-disabled="!notification.beforepray" ng-model="notification.beforepraytime">
    <option ng-repeat="time in timeReminders"
    value="{{ time.code }}"
    ng-selected="{{ notification.beforepraytime == time.code }}">
    {{time.description}}
  </option>
</select>
</label>

<label class="item item-input item-select">
  <div class="input-label">
    {{"sound" | translate}}
  </div>
  <select ng-change="notificationChanged(prayname)" ng-disabled = "!notification.beforepray"  ng-model="notification.beforepraysound">
    <option ng-repeat="sound in sounds"
    value="{{ sound.code }}"
    ng-selected="{{ notification.beforepraysound == sound.code }}">
    {{sound.description}}
  </option>
</select>
</label>
</ion-list>

</ion-content>
</ion-modal-view>