<ion-view view-title="Settings">
<ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive">
<ion-nav-back-button class="button-clear">
  </ion-nav-back-button>
<ion-content>
<ion-list>
<div class="item item-divider">
	General
</div>
<label class="item item-input item-select">
	<div class="input-label">
		Language
	</div>
	<select ng-model="settings.language" ng-change="changedValue()">
		<option ng-repeat="lang in languages"
		ng-selected="{{ settings.language == lang.code }}"
		value="{{ lang.code }}">
		{{lang.description}}
	</option>
</select>
</label>
<div class="item item-divider">
	Calculation Settings
</div>
<label class="item item-input item-select">
	<div class="input-label">
		Calculation Method
	</div>
	<select ng-model="settings.method" ng-change="changedValue()">
		<option ng-repeat="method in methods"
		ng-selected="{{ settings.method == method.code }}"
		value="{{ method.code }}">
		{{method.description}}
	</option>
</select>
</label>
<label class="item item-input item-select">
	<div class="input-label">
		Asr Calculation
	</div>
	<select ng-model="settings.asrmethod" ng-change="changedValue()">
		<option ng-repeat="method in asrmethods"
		ng-selected="{{ settings.asrmethod == method.code }}"
		value="{{ method.code }}">
		{{method.description}}
	</option>
</select>
</label>
<a class="item" href="#/tab/settings/adjustment">
	Manual Adjustment
</a>
</ion-list>
</ion-content>
</ion-view>
