<ion-view view-title="Manual Adjustment">
<ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive">
<ion-nav-back-button class="button-clear">
  </ion-nav-back-button>
  <ion-nav-buttons side="primary">
      <button class="button">
      	Reset
      </button>
    </ion-nav-buttons>
 </ion-nav-bar>

<ion-content has-header="false">
<ion-list>
	<div class="item range range-positive">
    <div class="input-label">
    Fajr
  </div>
    <input type="range" name="fajr" min="-60" max="60" value="0">
    0 min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    Dhuhr
  </div>
    <input type="range" name="dhuhr" min="-60" max="60" value="0">
    0 min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    Asr
  </div>
    <input type="range" name="asr" min="-60" max="60" value="0">
    0 min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    Maghrib
  </div>
    <input type="range" name="maghrib" min="-60" max="60" value="0">
    0 min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    Isha
  </div>
    <input type="range" name="isha" min="-60" max="60" value="0">
    0 min
  </div>
</ion-list>
</ion-content>
</ion-view>
