<ion-view view-title="{{'settings_manual_adjustment' | translate}}">
<ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive">
<ion-nav-back-button class="button-clear">
  </ion-nav-back-button>
  <ion-nav-buttons side="primary">
      <button class="button" ng-click="resetAdjustment()">
      	Reset
      </button>
    </ion-nav-buttons>
 </ion-nav-bar>

<ion-content has-header="false">
<ion-list>
	<div class="item range range-positive">
    <div class="input-label">
    {{"fajr" | translate}}
  </div>
    <input type="range" name="fajr" ng-change="changedValue()" ng-model="settings.adjustment.fajr" min="-60" max="60" value="{{settings.adjustment.fajr}}">
    {{settings.adjustment.fajr}} min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    {{"dhuhr" | translate}}
  </div>
    <input type="range" name="dhuhr" ng-change="changedValue()" ng-model="settings.adjustment.dhuhr" min="-60" max="60" value="{{settings.adjustment.dhuhr}}">
    {{settings.adjustment.dhuhr}} min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    {{"asr" | translate}}
  </div>
    <input type="range" name="asr" ng-change="changedValue()" ng-model="settings.adjustment.asr" min="-60" max="60" value="{{settings.adjustment.asr}}">
    {{settings.adjustment.asr}} min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    {{"maghrib" | translate}}
  </div>
    <input type="range" name="maghrib" ng-change="changedValue()" ng-model="settings.adjustment.maghrib" min="-60" max="60" value="{{settings.adjustment.maghrib}}">
    {{settings.adjustment.maghrib}} min
  </div>
  <div class="item range range-positive">
    <div class="input-label">
    {{"isha" | translate}}
  </div>
    <input type="range" name="isha" ng-change="changedValue()" ng-model="settings.adjustment.isha" min="-60" max="60" value="{{settings.adjustment.isha}}">
    {{settings.adjustment.isha}} min
  </div>
</ion-list>
</ion-content>
</ion-view>
