<ion-view view-title="{{'settings_title' | translate}}">
<ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive">
<ion-nav-back-button class="button-clear">
  </ion-nav-back-button>
<ion-content scrol="true">

<div class="list">

	<div class="item item-divider">
		{{"settings_general" | translate}}
	</div>

	<a class="item item-icon-left" href="#" ng-click="showList('LANG')">
    	<i class="icon ion-android-globe"></i>
	    {{"settings_language" | translate}}
  </a>

  <label class="item item-icon-left item-toggle">
    <i class="icon ion-android-volume-off"></i>
    <div class="input-label">
      {{"turn_off_notification" | translate}}
    </div>
    <label class="toggle toggle-balanced">
         <input ng-model="settings.disablenotification" ng-change="settingChanged()" type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
  </label>

  	<div class="item item-divider">
		{{"settings_calculation_setting" | translate}}
	</div>

	<a class="item item-icon-left" href="#" ng-click="showList('CM')">
    	<i class="icon ion-lightbulb"></i>
	    {{"settings_calculation_method" | translate}}
  	</a>

  	<a class="item item-icon-left" href="#" ng-click="showList('AC')">
    	<i class="icon ion-lightbulb"></i>
	    {{"settings_asr_calculation" | translate}}
  	</a>

  	<a class="item item-icon-left" href="#/tab/settings/adjustment">
    	<i class="icon ion-wand"></i>
		{{"settings_manual_adjustment" | translate}}
  	</a>  
</div>
</ion-content>
</ion-view>
