<ion-view view-title="PrayTime">

<!-- <ion-pane>
  <ion-content scroll="true">
    <section class="home-container">
      
      <div class = "row header">
        <div class = "col location-info">
          <ion-spinner icon="lines" ng-show="!prayer.locationsolved"></ion-spinner>
          <h4 class="header-text" ng-show="prayer.locationsolved">{{prayer.location.address}}</h4>
          <p class="header-text" style="margin: 0 0 3px; font-size: smaller" >{{prayer.dateinfo.masehidate}}</p>
          <p class="header-text" style="margin: 0 0 3px; font-size: smaller">{{prayer.dateinfo.hijridate}}</p>
          <p class="header-text" style="margin: 0 0 3px; font-size: smaller">{{prayer.dateinfo.currenttimestring}}</p>
        </div>
        <div class = "col pray-info">
            <div class = "row">
              <div class = "col text-right">
                <a class="button button-icon icon ion-ios-location" ng-click="openModalLocation()"></a>
              </div>
            </div>
            <div class = "row">
              <div class = "col text-right">
                <p class="header-text" style="margin: 0 0 3px;">{{prayer.prayinfo.nextpray}} is in</p>
                <h3 class="header-text" style="margin-top: 10px">{{hrsmin}}<sup> {{sec}}</sup></h3>
              </div>
            </div>
        </div>
      </div>

       

      <div class="row content">
         
          <div class="col">
          
          <div class="row">

            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Imsak')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"imsak" | translate}}</p>
                    <h6>{{prayer.praytime.imsak.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.imsak.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.imsak.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.imsak.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>
            
            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Fajr')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"fajr" | translate}}</p>
                    <h6>{{prayer.praytime.fajr.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.fajr.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.fajr.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.fajr.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>

            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Dhuhr')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"dhuhr" | translate}}</p>
                    <h6>{{prayer.praytime.dhuhr.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.dhuhr.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.dhuhr.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.dhuhr.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>


          </div>

          <div class="row">
            
            
            
            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Asr')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"asr" | translate}}</p>
                    <h6>{{prayer.praytime.asr.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.asr.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.asr.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.asr.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>

            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Maghrib')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"maghrib" | translate}}</p>
                    <h6>{{prayer.praytime.maghrib.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.maghrib.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.maghrib.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.maghrib.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>

            <div class="col">
              <button class="pray-item-left" ng-click="openModalNotification('Isha')">
                <div class = "row">
                  <div class = "col  text-center pray-item-text">
                    <p>{{"isha" | translate}}</p>
                    <h6>{{prayer.praytime.isha.time}}</h6>
                  </div>                
                </div>
                <div class="row">
                  <div class = "col pray-item-icon">
                    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.isha.notification.onpray"></i>
                    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.isha.notification.onpray"></i>
                    <i class="icon ion-ios-alarm-outline" ng-show="prayer.praytime.isha.notification.beforepray"></i>
                  </div>
                </div>
              </button>
            </div>

          </div>

        </div>

        
      </div>

    </section>
</ion-content>
</ion-pane> -->
<ion-content scroll="true">
<div class="list card">

  <a class="item  item-icon-left item-balanced" ng-click="openModalLocation()" href="#">
    <i class="icon ion-ios-location"></i>
    <h2 class="header-text">{{prayer.location.address}}</h2>
    <h4 class="header-text">{{prayer.dateinfo.masehidate}}</h4>
    <h4 class="header-text">{{prayer.dateinfo.hijridate}}</h4>
    <h4 class="header-text">{{prayer.dateinfo.currenttimestring}}</h4>
  </a>

  
  <div class="item text-center item-icon-left">
    <i class="icon ion-ios-stopwatch-outline"></i>
    <p>{{prayer.prayinfo.nextpray}} is in</p>
    <h1>{{hrsmin}}<sup> {{sec}}</sup></h1>
  </div>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Imsak')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.imsak.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.imsak.notification.onpray"></i>
    {{"imsak" | translate}}
    <span class="item-note">
      {{prayer.praytime.imsak.time}}
    </span>
  </a>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Fajr')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.fajr.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.fajr.notification.onpray"></i>
    {{"fajr" | translate}}
    <span class="item-note">
      {{prayer.praytime.fajr.time}}
    </span>
  </a>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Dhuhr')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.dhuhr.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.dhuhr.notification.onpray"></i>
    {{"dhuhr" | translate}}
    <span class="item-note">
      {{prayer.praytime.dhuhr.time}}
    </span>
  </a>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Asr')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.asr.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.asr.notification.onpray"></i>
    {{"asr" | translate}}
    <span class="item-note">
      {{prayer.praytime.asr.time}}
    </span>
  </a>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Maghrib')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.maghrib.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.maghrib.notification.onpray"></i>
    {{"maghrib" | translate}}
    <span class="item-note">
      {{prayer.praytime.maghrib.time}}
    </span>
  </a>

  <a class="item item-icon-left" href="#" ng-click="openModalNotification('Isha')">
    <i class="icon ion-android-volume-up" ng-show="prayer.praytime.isha.notification.onpray"></i>
    <i class="icon ion-android-volume-off" ng-show="!prayer.praytime.isha.notification.onpray"></i>
    {{"isha" | translate}}
    <span class="item-note">
      {{prayer.praytime.isha.time}}
    </span>
  </a>
</div>
</ion-content>
</ion-view>
